<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
         
        <link rel="icon" type="image/png" href="./assets/icon.png">
        <title>kkphoenix</title>
    </head>
    <body>
        <p style=
            "
              width: 100vw; 
              height: 100vh; 
              display: flex; 
              justify-content: center; 
              align-items: center; 
              text-align: center;
            "
        >
            What are you doing here bro... Get out...
        </p>
        
    </body>
</html>